.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
}

.scatterpoint-text {
  font-size: small;
}

.tooltip {
  position: absolute;
  width: 100px;
  height: 50px;
  padding: 10px;
  font: 10px sans-serif;
  text-align: center;
  color: white;
  background: black;
  border: 0;
  border-radius: 10px;
  opacity: 0.5;
}

.active-axis {
  font-weight: bold;
  fill:black;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
  font-size: 18px
}

.inactive-axis {
  font-weight: lighter;
  fill:grey;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive-axis:hover {
  fill: black;
  font-weight: bold;
  cursor: pointer;
}

#page-title {
  border-bottom: 1px solid black;
  font-style: italic;
}

.article {
  padding-top: 25px
}
