
.jumbotron-fluid {
  height: 100%;
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#intro {
  margin: 0px;
  padding: 0px;
}

#intro-image {
  margin-bottom: 0px;
}

#intro-text {
  margin-right: 0%;
  padding-right: 25px;
}

#name {
  font-size: 80px;
  text-align: right;
}

#job-title {
  font-size: 60px;
  text-align: right;
}

.jumbo-header {
  font-size: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.social-icons {
  text-align: right;
}

#summary {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 8%;
  padding-bottom: 8%;
  font-size: 25px;
  background-color: #708090;
}

.summary-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-align: center;
  color: white;
}

#summary a {
  color: lightgray;
  font-weight: bold;
}

#summary a:hover {
  color: white;
  text-decoration: none;
}


.card {
  position: relavtive;
  overflow: hidden;
  margin: 2%;

}

.card-img {
  opacity: 90%;
  border: 1px solid black;
  overflow: hidden;
  width: 100%;
  height: 40vw;
  object-fit: cover;
}

.card-img-overlay {
  opacity: 0%;
  position: absolute;
  max-height: 100%;
}

.card-img-overlay:hover {
  background-color: black;
  opacity: 80%;
  position: absolute;
}


#skills-list {
  min-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
}


#experience a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

#experience a:hover {
  color: darkgrey;
}

#experience .duties a {
  color: black;
  text-decoration: underline;
}

#experience .duties a:hover {
  color: darkgrey;
}

#education a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

#education a:hover {
  color: darkgrey;
}

#resume {
  padding-top: 70px;
  height: 300px;
  background-color: #708090;
  color: white;
}

#resume a {
  text-align: center;
  font-size: 40px;
  color:lightgray;
  font-weight: bold;
  display: block;
}

#resume a:hover {
  color: white;
  text-decoration: none;
}